<div>
    <div *ngIf="items?.length === 0; else showProducts;">
        <div class="alert alert-info mt-2" role="alert">
            There is no products to show.
        </div>
    </div>

    <ng-template #showProducts>
        <div class="row">
            <div class="w-auto my-2" *ngFor="let prod of items">
                <div class="card" style="width: 18rem; height: 28rem;" role="button"
                    (click)="$event.preventDefault(); seeProductDesc(prod)">
                    <img [src]="imageFilePath + prod.prodImg" class="card-img-top" alt="{{prod.prodName}}">
                    <div class="card-body">
                        <h5 class="card-title">{{prod.prodName}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{prod.prodBrand}}</h6>
                        <p class="card-text text-truncate">{{prod.prodDesc}}</p>
                        <p class="card-text">₹ {{prod.prodPrice}}</p>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>